/** Import Bootstrap functions */
@import "../themes/adidoks/sass/bootstrap/scss/functions";

/** Import theme variables */
@import "../themes/adidoks/sass/common/variables";
$primary: $gray-700;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$link-color: $primary;
$link-decoration: "underline";

/** Import Bootstrap */
@import "../themes/adidoks/sass/bootstrap/scss/bootstrap";

/** Import theme styles */
@import "../themes/adidoks/sass/common/fonts";
@import "../themes/adidoks/sass/common/global";
@import "../themes/adidoks/sass/common/dark";
@import "../themes/adidoks/sass/components/doks";

// @import "../themes/adidoks/sass/components/syntax";
@import "../themes/adidoks/sass/components/code";
@import "../themes/adidoks/sass/components/alerts";
@import "../themes/adidoks/sass/components/buttons";
@import "../themes/adidoks/sass/components/comments";
@import "../themes/adidoks/sass/components/footnote";
@import "../themes/adidoks/sass/components/forms";
@import "../themes/adidoks/sass/components/images";
@import "../themes/adidoks/sass/components/search";
@import "../themes/adidoks/sass/components/tables";
@import "../themes/adidoks/sass/layouts/footer";
@import "../themes/adidoks/sass/layouts/header";
@import "../themes/adidoks/sass/layouts/pages";
@import "../themes/adidoks/sass/layouts/posts";
@import "../themes/adidoks/sass/layouts/sidebar";

.header-bar {
  border-image-source: linear-gradient(90deg, $primary, $gray-200 50%, $gray-900);
}
